.relative_house{
  margin: 20px;
  position: relative;
  .house__roof{
    position: relative;
    height:0;
    width: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-bottom: 350px solid red;
    .roof__snow{
      position: relative;
      height:0;
      width: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 35px solid snow;
      right: 30px;
      bottom: 1px;
    }
    .roof__tube{
      position: relative;
      z-index: -1;
      width: 40px;
      height: 200px;
      left: 120px;
      top: 60px;
      background-color: gray;

      .tube__goal{
        position: relative;
        width: 100%;
        height: 10%;
        background-color: black;
      }
    }
    .roof__window{
      position: relative;
      width: 100px;
      height: 100px;
      background-color: yellow;
      border: 8px solid green;
      right: 50px;
      bottom: 50px;
      .window__frame_vertical{
        position: relative;
        background-color: black;
        width: 5%;
        height: 100%;
        left: 45px;
        bottom: 5px;
      }
      .window__frame_horizontal{
        position: relative;
        background-color: black;
        width: 100%;
        height: 5%;        
        top: 45px;

      }
    }
  }
  .house__wall{
    box-sizing: border-box;
    position: relative;
    background-color: greenyellow;
    border: 1px solid black;
    width: $wall_width;
    height: $wall_height;



    .wall__facade{
      position: relative;
      width: 100%;
      height: 20%;
      background-color: gray;
      top: 80%;

      .facade__top{
        position: relative;
        background-color: brown;
        width: 100%;
        height: 20%;
      }
    }
    
    .wall__door{
      position: relative;
      width: 20%;
      height: 50%;
      background-color: red;
      left: 40%;
      top: 30%;
      box-sizing: border-box;
      border: 2px solid black;

      .door__lock{
        position: relative;
        background-color: gray;
        width: 15%;
        height: 20%;
        left: 75%;
        top: 50%;

        .lock__handle{
          position: relative; 
          background-color: black;
          width: 160%;
          height: 20%;
          top: 20%;
          right: 90%;
        }

        .lock__lock{
          position: relative; 
          background-color: black;
          width: 20%;
          height: 20%;
          top: 50%;
          left: 40%;
        }
      }
      
    }

    .wall__window_left{
      position: relative;
      box-sizing: border-box;
      background-color: yellow;
      border: 8px solid gray;
      width: 20%;
      height: 30%;
      bottom: 50%;
      left: 10%;
    }

    .wall__window_right{
      position: relative;
      box-sizing: border-box;
      background-color: yellow;
      border: 8px solid gray;
      width: 20%;
      height: 30%;
      bottom: 80%;
      left: 70%;
    }

    .window__frame_vertical{
      position: relative;
      background-color: black;
      width: 5%;
      height: 100%;
      left: 40px;
      bottom: 5px;
    }
    .window__frame_horizontal{
      position: relative;
      background-color: black;
      width: 100%;
      height: 5%;        
      top: 35px;
    }
  }
}